[class^="icon-"]::before{
  position: relative;
  top: 3px;
}
body{
  overflow-x: hidden;
  //overflow: hidden;
  position: relative;
  width: 100vw;
  height: 100vh;
  @include to($vp){
    left: $header-width*-1;
    transition: $transition;
  }
  @include from($vp){
    padding-left: $header-width;
  }
  &.active{
    left: 0;
  }
}
.title_page{
  display: block;
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 2em;
  span{
    font-size: 2em;
  }
}
.white{
  h2{
    color: $white;
  }
  span{
    color: $white;
  }
}
