[class^="icon-"]::before{
  position: relative;
  top: 3px;
}
body{
  overflow-x: hidden;
  //overflow: hidden;
  position: relative;
  width: 100vw;
  height: 100vh;
  @include to($vp){
    left: $header-width*-1;
    transition: $transition;
  }
  @include from($vp){
    padding-left: $header-width;
  }
  &.active{
    left: 0;
  }
}
.title_page{
  display: block;
  text-align: center;
  font-size: 2em;
  span{
    font-size: 2em;
  }
}
//.container{
//  height: 600px;
//  //background: #000;
//  border: 1px solid red;
//  overflow-y: auto;
//}
//.sub-title{
//  position: absolute;
//  text-align: left;
//  text-transform: uppercase;
//  transform: translateY(-50%);
//  h3, span{
//    display: inline;
//  }
//  h3{
//  }
//  span{
//    $size: 3rem;
//    background: $green;
//    display: inline-block;
//    width: $size;
//    height: $size;
//    line-height: $size;
//    text-align: center;
//    font-size: 1.5em;
//    color: $white;
//    border-radius: 50%;
//    transform: translateX(calc(-50% - 0px));
//
//  }
//}
