-var title = "Amit Lalwani"
-var currentpage = "inicio"
-var description =  "amit lalwani's portfolio slash blog web site"
-var author = "Sigma PCS contacto@sigmapcs.com.mx"
-var keywords = "amit, amit lalwani, amitlalwani, java dev, aspiring js dev, big data enthusiast"
-var sitename = "siteNameGoesHere"
-var urlsite = "www.siteURLGoesHere.com"