.title_page.white
  h2 contact
  span.icon-phone
.section-title
  .flag-left
  h3 Let’s Socialize
  .flag-right

ul.networks
  li: a(href="#contact").icon-facebook
  li: a(href="#",target="blank").icon-twitter
  li: a(href="#",target="blank").icon-instagram
  li: a(href="#",target="blank").icon-linkedin
  li: a(href="#",target="blank").icon-github

.section-title
  .flag-left
  h3 Reach Me
  .flag-right

article.reachme
  .reachme__item
    p.icon-ios-location-outline
    p.text Guadalajara, Jal. México
  .reachme__item
    p.icon-phone
    p.text 9999999999
  .reachme__item
    p.icon-envelope-o
    p.text mail@gmail.com
  .reachme__item
    p.icon-checkmark.circle
    p.text Freelance Available

.section-title
  .flag-left
  h3 Drop Me A Line
  .flag-right

form.form#form(action="send.php", method="post")
  .input-group
    label(for="name") name
    input(type="text",name="name",id="name")
  .input-group
    label(for="name") name
    input(type="text",name="name",id="name")
  .textarea-group

