.section-title
  .flag-left
  h3 Let’s Socialize
  .flag-right

ul.networks
  li: a(href="#",target="blank").icon-linkedin
  li: a(href="#",target="blank").icon-github

.section-title
  .flag-left
  h3 Reach Me
  .flag-right

article.reachme
  .reachme__item
    p.icon-ios-location-outline
    p.text Guadalajara, México
  .reachme__item
    p.icon-phone
    p.text 77777777777
  .reachme__item
    p.icon-envelope-o
    p.text mail@gmail.com
  .reachme__item
    p.icon-checkmark.circle
    p.text Freelance Available

.section-title
  .flag-left
  h3 Drop Me A Line
  .flag-right

form.form#form(action="http://sigmapcs.com.mx/send.php", method="post" novalidate)
  .input-group
    label(for="name") name
    input(type="text",name="name",id="name")
    span.span-error#name-msg-error
  .input-group
    label(for="email") email
    input(type="email",name="email",id="email")
    span.span-error#email-msg-error
  .textarea-group
    label(for="message-ta") message
    textarea(id="message-ta", name="message")
    span.span-error#message-msg-error
  footer.form-footer
    button#btn-send(type="submit") send