.title_page
  span.icon-id-card
  h2 portfolio
.container
  .portfolio__gallery
    .portfolio__item
      a(href="https://images.pexels.com/photos/51415/pexels-photo-51415.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb", class="fancybox", rel="gallery1").img-container
        img(src="https://images.pexels.com/photos/51415/pexels-photo-51415.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb", alt="Gallery")
      footer.item-footer
        h3 BOOKCARD
        p a vcard theme
    .portfolio__item
      a(href="https://images.pexels.com/photos/51415/pexels-photo-51415.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb", class="fancybox", rel="gallery1").img-container
        img(src="https://images.pexels.com/photos/51415/pexels-photo-51415.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb", alt="Gallery")
      footer.item-footer
        h3 BOOKCARD
        p a vcard theme
    .portfolio__item
      a(href="https://images.pexels.com/photos/51415/pexels-photo-51415.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb", class="fancybox", rel="gallery1").fancybox.img-container
        img(src="https://images.pexels.com/photos/51415/pexels-photo-51415.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb", alt="Gallery")
      footer.item-footer
        h3 BOOKCARD
        p a vcard theme
    .portfolio__item
      a(href="https://images.pexels.com/photos/51415/pexels-photo-51415.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb", class="fancybox", rel="gallery1").fancybox.img-container
        img(src="https://images.pexels.com/photos/51415/pexels-photo-51415.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb", alt="Gallery")
      footer.item-footer
        h3 BOOKCARD
        p a vcard theme
    .portfolio__item
      a(href="https://images.pexels.com/photos/51415/pexels-photo-51415.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb", class="fancybox", rel="gallery1").fancybox.img-container
        img(src="https://images.pexels.com/photos/51415/pexels-photo-51415.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb", alt="Gallery")
      footer.item-footer
        h3 BOOKCARD
        p a vcard theme
    .portfolio__item
      a(href="https://images.pexels.com/photos/51415/pexels-photo-51415.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb", class="fancybox", rel="gallery1").fancybox.img-container
        img(src="https://images.pexels.com/photos/51415/pexels-photo-51415.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb", alt="Gallery")
      footer.item-footer
        h3 BOOKCARD
        p a vcard theme
    .portfolio__item
      a(href="https://images.pexels.com/photos/51415/pexels-photo-51415.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb", class="fancybox", rel="gallery1").fancybox.img-container
        img(src="https://images.pexels.com/photos/51415/pexels-photo-51415.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb", alt="Gallery")
      footer.item-footer
        h3 BOOKCARD
        p a vcard theme
    .portfolio__item
      a(href="https://images.pexels.com/photos/51415/pexels-photo-51415.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb", class="fancybox", rel="gallery1").fancybox.img-container
        img(src="https://images.pexels.com/photos/51415/pexels-photo-51415.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb", alt="Gallery")
      footer.item-footer
        h3 BOOKCARD
        p a vcard theme
    .portfolio__item
      a(href="https://images.pexels.com/photos/51415/pexels-photo-51415.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb", class="fancybox", rel="gallery1").fancybox.img-container
        img(src="https://images.pexels.com/photos/51415/pexels-photo-51415.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb", alt="Gallery")
      footer.item-footer
        h3 BOOKCARD
        p a vcard theme
