.title_page
  h2 resume
  span.icon-id-card
.resume__container
  .resume__work
    .resume__work-content
      h3
        span.icon-ribbon
        | CAREER OBJECTIVE:
      p To serve a progressive organization, that offers an opportunity for continuous improvement, learning and rewards for shouldering more responsibilities and be an important member of a team in helping the team to perform and flourish.
    .resume__work-content
      h3
        span.icon-ribbon
        | CAREER PROFILE:
      p 8 years developing, maintaining and supporting web applications and application infrastructure using JAVA/J2EE, web services, custom frameworks and other JAVA related technologies.
    .resume__work-content
      h3
        span.icon-id-card
        |Employment
      ul.employment-list
        li Senior Software Engineer at HCL Technologies Ltd (2009 till date) for a Fortune 500
        li Senior Software Engineer at iTexico (2016)
        li Senior Software Engineer at IBM Technologies (2017)
    .resume__work-content
      h3
        span.icon-lightbulb-o
        |Primary skills
      ul.employment-list
        li JAVA
        li J2EE (JDBC, JNDI, JMS)
        li Web services (REST and SOAP)
        li WebSphere Application Server 7
        li Tomcat Application Server
        li Spring
        li Apache wicket 7
        li Presentation Services (Proprietary MVC framework)
    .resume__work-content
      h3
        span.icon-lightbulb-o
        |Secondary skills
      p ILOG JRules, SQL-DB2, Gradle, Linux, Junit, HTML, CSS, Apache Zookeeper, Apache Kafka.
    .resume__work-content
      h3
        span.icon-lightbulb-o
        |Tools
      p Rational Software Architect, Rational Team Concert, GIT 
    .resume__work-content
      h3
        span.icon-lightbulb-o
        |Methodologies:
      p Waterfall and Agile development models.
  .resume__project
    h3.proyect-title Projects
    .resume__project-content
      h4 1. ESRI IST:
        span.icon.icon-chevron-down
      .content
        .text
          h6.desc Role:
          p.text-cont Lead software developer and Integrator.
        .text
          h6.desc Duration:
          p.text-cont 8 months.
        .text
          h6.desc Description:
          p.text-cont Develop an admin tool using IBM Emptoris Web Services for use by Contracts team to extend the functionalities of the Contract Life-cycle Management functionalities of Emptoris.	</br>Run ETL from older SAP system to Emptoris using IBM Emptoris Web Services.
        h5 Responsibilities	included:
        ul
          li Drive discussions with client on application design and work flow.
          li Develop and maintain new as well as existing system.
          li Unit testing.
    .resume__project-content
      h4 2. WACMUI:
        span.icon.icon-chevron-down
      .content
        .text
          h6.desc Role:
          p.text-cont Senior software developer and Integrator.
        .text
          h6.desc Duration:
          p.text-cont 8 months.
        .text
          h6.desc Description:
          p.text-cont Develop an admin tool using Wicket 6.6.0 to help manage Infrastructure components using the industry standard JMX (Java Management Extension) technology.
        h5 Responsibilities	included:
        ul
          li Draw up the SOW to bid for the fixed bid project.
          li Drive discussions with client on application design and work flow.
          li Lead a three member team to analyze, develop, test and release the admin application.
          li Unit testing.
          li Provide support for ST, UAT and production validation.
          li Provide detailed documentation for consumption by future developers and ACC.
    .resume__project-content
      h4 3. Prospect and Guest Channel:
        span.icon.icon-chevron-down
      .content
        .text
          h6.desc Role:
          p.text-cont Senior software developer and Integrator.
        .text
          h6.desc Duration:
          p.text-cont 12 months.
        .text
          h6.desc Description:
          p.text-cont Provide a new web channel to serve prospective customers to give them a feel of client’s online services. In other words, provide an infrastructure for different lines of businesses to showcase their apps to prospective customers. Create a similar channel (Guest) independent of the existing channels. Both these channels were developed using the Presentation Services framework.
        h5 Responsibilities	included:
        ul
          li Participate in discussions with client on application design and work flow.
          li Develop and maintain new as well as existing system.
          li Develop secure web services for the application being developed.
          li Unit testing.
          li Provide support for ST, UAT and production validation	.
          li Provide detailed documentation for consumption by future developers and ACC.
    .resume__project-content
      h4 4. Availability Command Center(ACC):
        span.icon.icon-chevron-down
      .content
        .text
          h6.desc Role:
          p.text-cont Production Support.
        .text
          h6.desc Duration:
          p.text-cont 14 months.
        //- .text
        //- 	h6.desc Description:
        //- 	p.text-cont Provide a new web channel to serve prospective customers to give them a feel of client’s online services. In other words, provide an infrastructure for different lines of businesses to showcase their apps to prospective customers. Create a similar channel (Guest) independent of the existing channels. Both these channels were developed using the Presentation Services framework.
        h5 Responsibilities	included:
        ul
          li Immediate RTS (Return To Service) of all of WebSphere Infrastructure related systems in case of an outage/downtime in Production, Test and Dev environment by working with other support teams.
          li Primary on-call for all Websphere Infrastructure related issues.
          li Pro-active monitoring of all systems listed under the team’s Programmer Responsibility List including MQs, assigned JVMs, services and servers.
          li Perform application health checks and run DB validations.
          li Create, assign and work on prod defects.
          li Only team with access to live member data and so was also responsible for resolving single member incident which were also monitored to find patterns and most common issues.

    .resume__project-content
      h4 5. WebSphere Infrastructure M&P Work:
        span.icon.icon-chevron-down
      .content
        .text
          h6.desc Role:
          p.text-cont Software developer and Integrator.
        .text
          h6.desc Duration:
          p.text-cont 14 months.
        .text
          h6.desc Description:
          p.text-cont M&P work included any tasks that ranged between 40-80 man hours.
        h5 Responsibilities	included:
        ul
          li Participate in weekly discussions on enhancements of existing systems and prioritization and assignation of existing requests.
          li On assignation of tasks, analyze and present detailed analysis and design document for SME approval.
          li Also work on Impact Analysis in case of an infrastructure change.
          li Work on test cases and Junit test cases when required.
          li Unit testing.
          li Provide support for ST, UAT and production validation.

    .resume__project-content
      h4 6. WAS 7 migration:
        span.icon.icon-chevron-down
      .content
        .text
          h6.desc Role:
          p.text-cont Software developer and Integrator.
        .text
          h6.desc Duration:
          p.text-cont 8 months.
        .text
          h6.desc Description:
          p.text-cont Migration of all customer/ non-customer facing applications to Websphere Application Server v7 due to end of support for Websphere 6.0.
        h5 Responsibilities	included:
        ul
          li Work with SMEs on overall strategy, impact analysis on migration.
          li Leverage the opportunity to make improvements to the existing infrastructure.
          li Migrate chosen applications as prototypes and prepare documentation for use by all IT teams to migrate their applications.
          li Provide support for all IT Teams during the process of WAS 7 migration.
    h3.proyect-title ACHEIVEMENTS
    ul.acheivements
      li Awarded HCL’s Live Wire Rewards two times for performance at ACC and WAS 7 migration project.
      li Was chosen and primarily responsible for set-up of near-shore (Mexico) Infrastructure team which included Infrastructure Knowledge Transition and familiarization with all HCL and client’s processes.
      li Ideated WAS 7 migration and PMD plug-ins that could be integrated with IBM Rational Software Architect.  This plug-ins would automate developer tasks and were estimated to save over 3000 developer minutes (WAS 7 plug-in) over the span of the project and would become mandatory practice (PMD plug-in and report approval during code reviews).
      li Was the co-coordinator, responsible for the performance of a 8-10 member strong team, of all O&M work for the duration of the time involved in Websphere Infrastructure M&P Work.
    h3.proyect-title ACADEMIC PROFILE:
    .table-container
      table.table-rwd
        tr
          th degree
          th board/university
          th year of completion
          th %  / cgpa
        tr
          td Bachelor of Technology: <br>Polymer engineering.
          td Amrita School of Engineering
          td 2008
          td CGPA 6.94
        tr
          td 12th standard/grade
          td State Board/ S.B.O.A. Matric Hr.Sec.School.
          td 2004
          td 90.08%
        tr
          td 10th standard/grade
          td State Board/S.B.O.A. Matric Hr.Sec.School.
          td 2002
          td 86.90%
