.title_page
  h2 resume
  span.icon-id-card
.resume__container
  .resume__work
    .resume__work-content
      h3
        span.icon-ribbon
        | CAREER OBJECTIVE:
      p To serve a progressive organization, that offers an opportunity for continuous improvement, learning and rewards for shouldering more responsibilities and be an important member of a team in helping the team to perform and flourish.
    .resume__work-content
      h3
        span.icon-ribbon
        | CAREER PROFILE:
      p 7 years developing, maintaining and supporting web applications and application infrastructure using JAVA/J2EE, web services, custom frameworks and other related technologies.
    .resume__work-content
      h3
        span.icon-id-card
        |Employment
      ul.employment-list
        li Senior Software Engineer at HCL Technologies Ltd (2009 till date) for a Fortune 500 
        li Banking and Insurance Co.
        li Senior Software Engineer at iTexico (2016)
    .resume__work-content
      h3
        span.icon-lightbulb-o
        |Primary skills
      ul.employment-list
        li JAVA
        li J2EE (Servlets and JSP,  JDBC, JNDI, JMS)
        li Web services (REST and SOAP)
        li WebSphere Application Server 7
        li Tomcat Application Server
        li Spring
        li Apache wicket 7
        li Presentation Services (Proprietary MVC framework)
        li ILOG JRules
    .resume__work-content
      h3
        span.icon-lightbulb-o
        |Scundary skills
      p ILOG JRules, SQL-DB2, Maven, Linux, Junit, HTML, XML, Apache Zookeeper, Apache Kafka. 
    .resume__work-content
      h3
        span.icon-cog
        |Tools
      p ILOG JRules, SQL-DB2, Maven, Linux, Junit, HTML, XML, Apache Zookeeper, Apache Kafka.
    .resume__work-content
      h3
        span.icon-cog
        |SDLC Methodologies:
      p Waterfall and Agile development models.
  .resume__project
    h3.proyect-title Projects
    .resume__work-content
    h3
  //-
    .resume__title
      span.icon-ribbon
      h3 CAREER OBJECTIVE:
      p 7 years developing, maintaining and supporting web applications and application infrastructure using JAVA/J2EE, web services, custom frameworks and other related technologies.
    .resume__content
      h3.employment Employment
      ul.employment-list
        li Senior Software Engineer at HCL Technologies Ltd (2009 till date) for a Fortune 500 
        li Banking and Insurance Co.
        li Senior Software Engineer at iTexico (2016)
    .resume__content
      h3.employment Primary skills:
      ul.employment-list
        li JAVA
        li J2EE (Servlets and JSP,  JDBC, JNDI, JMS)
        li Web services (REST and SOAP)
        li WebSphere Application Server 7
        li Tomcat Application Server
        li Spring
        li Apache wicket 7
        li Presentation Services (Proprietary MVC framework)
        li ILOG JRules
    .resume__content
      h3.employment Secondary skills:
      p ILOG JRules, SQL-DB2, Maven, Linux, Junit, HTML, XML, Apache Zookeeper, Apache Kafka. 
    .resume__content
      h3.employment Secondary Tools:
      p Borland StarTeam, IBM Rational Software Architect 7.5.5.2 and 8.0, Splunk, PMD, DB2 Connect, Firebug and HTTP Fox.
    .resume__content
      h3.employment SDLC Methodologies:
      p Waterfall and Agile development models.
//-
  .resume__project Projec
    h3.proyec-title 
    .resume__content
      h3.resume__skills__title 1 ESRI IST
      ul.proyect-list
        li
          span Role:
          | Lead software developer and Integrator.
        li
          span Duration:
          | 8 months.
        li
          span Description:
          | Develop an admin tool using IBM Emptoris Web Services for use by  Contracts team to extend the functionalities of the Contract Life-cycle Management functionalities of Emptoris.<br>Run ETL from older SAP system to Emptoris using IBM Emptoris Web Services.
        h4 Responsibilities	included:
        ul.responsibilities-ul
          li Drive discussions with client on application design and work flow.
          li Develop and maintain new as well as existing system.
          li Unit testing.  
    .resume__content
      h3.resume__skills__title 2 WACMUI:
      ul.proyect-list
        li
          span Role:
          | Senior software developer and Integrator.
        li
          span Duration:
          | 8 months.
        li
          span Description:
          | Provide a new web channel to serve prospective customers to give them a feel of client’s online services. In other words, provide an infrastructure for different lines of businesses to showcase their apps to prospective customers. Create a similar channel (Guest) independent of the existing channels. Both these channels were developed using the Presentation Services framework
        h4 Responsibilities	included:
        ul.responsibilities-ul
          li Drive discussions with client on application design and work flow.
          li Develop and maintain new as well as existing system.
          li Unit testing.
    .resume__content
      h3.resume__skills__title 3 Prospect and Guest Channel: 	
      ul.proyect-list
        li
          span Role:
          | Senior software developer and Integrator.
        li
          span Duration:
          | 8 months.
        li
          span Description:
          | Develop an admin tool using Wicket 6.6.0 to help manage Infrastructure components using the industry standard JMX (Java Management Extension) technology          
        h4 Responsibilities	included:
        ul.responsibilities-ul
          li Draw up the SOW to bid for the fixed bid project.
          li Drive discussions with client on application design and work flow.
          li Lead a three member team to analyze, develop, test and release the admin application.
          li Unit testing.
          li Provide support for ST, UAT and production validation.
          li Provide detailed documentation for consumption by future developers and ACC.
    .resume__content
      h3.resume__skills__title 4.	Availability Command Center (ACC):
      ul.proyect-list
        li
          span Role:
          | Production Support..
        li
          span Duration:
          | 14 months.    
        h4 Responsibilities	included:
        ul.responsibilities-ul
          li Immediate RTS (Return To Service) of all of WebSphere Infrastructure related systems in case of an outage/downtime in Production, Test and Dev environment by working with other support teams.
          li Primary on-call for all Websphere Infrastructure related issues.
          li Pro-active monitoring of all systems listed under the team’s Programmer Responsibility List including MQs, assigned JVMs, services and servers.
          li Perform application health checks and run DB validations.
          li Create, assign and work on prod defects.
          li Only team with access to live member data and so was also responsible for resolving single member incident which were also monitored to find patterns and most common issues.
    .resume__content
      h3.resume__skills__title 5.	WebSphere Infrastructure M&P Work: 
      ul.proyect-list
        li
          span Role:
          | Software developer and Integrator.
        li
          span Duration:
          | 14 months.
        li
          span Description:
          | M&P work included any tasks that ranged between 40-80 man hours.          
        h4 Responsibilities	included:
        ul.responsibilities-ul
          li Participate in weekly discussions on enhancements of existing systems and prioritization and assignation of existing requests.
          li On assignation of tasks, analyze and present detailed analysis and design document for SME approval.
          li Also work on Impact Analysis in case of an infrastructure change.
          li Work on test cases and Junit test cases when required.
          li Unit testing.
          li Provide support for ST, UAT and production validation.
    .resume__content
      h3.resume__skills__title 6.	WAS 7 migration:
      ul.proyect-list
        li
          span Role:
          | Software developer and Integrator.
        li
          span Duration:
          | 8 months.
        li
          span Description:
          | Migration of all customer/ non-customer facing applications to Websphere Application Server v7 due to end of support for Websphere 6.0.      
        h4 Responsibilities	included:
        ul.responsibilities-ul
          li Work with SMEs on overall strategy, impact analysis on migration.
          li Leverage the opportunity to make improvements to the existing infrastructure.
          li Migrate chosen applications as prototypes and prepare documentation for use by all IT teams to migrate their applications.
          li Provide support for all IT Teams during the process of WAS 7 migration
    .resume__content
      h3.resume__skills__title ACHIEVEMENTS
      ul.proyect-list
        li Awarded HCL’s Live Wire Rewards two times for performance at ACC and WAS 7 migration project.
        li Was chosen and primarily responsible for set-up of near-shore (Mexico) Infrastructure team which included Infrastructure Knowledge Transition and familiarization with all HCL and client’s processes. 
        li Ideated WAS 7 migration and PMD plug-ins that could be integrated with IBM Rational Software Architect.  This plug-ins would automate developer tasks and were estimated to save over 3000 developer minutes (WAS 7 plug-in) over the span of the project and would become mandatory practice (PMD plug-in and report approval during code reviews).
        li Was the co-coordinator, responsible for the performance of a 8-10 member strong team, of all O&M work for the duration of the time involved in Websphere Infrastructure M&P Work.
    .resume__content
      h3.resume__skills__title ACADEMIC PROFILE:
      table
        tr
          th degree	
          th board/university
          th year of completion	
          th %  / cgpa
        tr
          td Bachelor of Technology: <br>Polymer engineering.	
          td Amrita School of Engineering
          td 2008	
          td CGPA 6.94
        tr       
          td 12th standard/grade  	
          td State Board/ S.B.O.A. Matric Hr.Sec.School.  	
          td 2004	
          td 90.08%
        tr        
          td 10th standard/grade
          td State Board/S.B.O.A. Matric Hr.Sec.School.
          td 2002
          td 86.90%
    .resume__content
      h3.resume__skills__title Personal Details
      ul.personal-li
        li
          span Date of Birth:
          | 04.03.87
        li
          span Gender:
          | Male.
        li
          span Languages known:
          | English (RWS), Hindi (RWS), Sindhi (S), Tamil (S) and beginner level  Spanish (RWS).
        li
          span Interests and hobbies:
          | Reading, listening to music, cricket, soccer.
        li
          span Passport #:
          | H1699989 (12/30/2008 – 12/29/2018).
        li
          span Visa:
          | US Visa (B1/B2).
          




  //-

      .resume__content
        .date.green
          p dec 2013 - current
        h4 FRONT END WEB DEVELOPER
        h5 pixelwars inc.
        p I currently work for Pixelwars creative studio. I create usable web interfaces, front end coding stuff and almost anything. But i love what i do.
      .resume__content
        .date
          p jun 2012 - dec 2013
        h4 WEB DEVELOPER
        h5 google inc.
        p I currently work for Pixelwars creative studio. I create usable web interfaces, front end coding stuff and almost anything. But i love what i do.
      .resume__content
        .date
          p 2006
        h4 exclusive author
        h5 evato inc.
        p I currently work for Pixelwars creative studio. I create usable web interfaces, front end coding stuff and almost anything. But i love what i do.
      .resume__title
        span.icon-cap
        h3 education
      .resume__content
        .date
          p 2002
        h4 software engineering
        h5 harvard university
        p I currently work for Pixelwars creative studio. I create usable web interfaces, front end coding stuff and almost anything. But i love what i do.
      .resume__content
        .date
          p 2002
        h4 software engineering
        h5 harvard university
        p I currently work for Pixelwars creative studio. I create usable web interfaces, front end coding stuff and almost anything. But i love what i do.
    .resume__skills
      h3.resume__skills__title coding skills
      .skill-item.html
        p.skill-title html
        .skill
      .skill-item.css
        p.skill-title css
        .skill
      .skill-item.jquery
        p.skill-title jquery
        .skill
      .skill-item.wordpress
        p.skill-title wordpress
        .skill
      h3.resume__skills__title DESIGN SKILLS
      .skill-item.illustrador
        p.skill-title illustrador
        .skill
      .skill-item.fireworks
        p.skill-title fireworks
        .skill
      .skill-item.photoshop
        p.skill-title photoshop
        .skill
