.title_page
  span.icon-id-card
  h2 resume
.resume__container
  .resume__history
    .resume__title
      span.icon-ribbon
      h3 work history
    .resume__content
      .date.green
        p dec 2013 - current
      h4 FRONT END WEB DEVELOPER
      h5 pixelwars inc.
      p I currently work for Pixelwars creative studio. I create usable web interfaces, front end coding stuff and almost anything. But i love what i do.
    .resume__content
      .date
        p jun 2012 - dec 2013
      h4 WEB DEVELOPER
      h5 google inc.
      p I currently work for Pixelwars creative studio. I create usable web interfaces, front end coding stuff and almost anything. But i love what i do.
    .resume__content
      .date
        p 2006
      h4 exclusive author
      h5 evato inc.
      p I currently work for Pixelwars creative studio. I create usable web interfaces, front end coding stuff and almost anything. But i love what i do.
    .resume__title
      span.icon-cap
      h3 education
    .resume__content
      .date
        p 2002
      h4 software engineering
      h5 harvard university
      p I currently work for Pixelwars creative studio. I create usable web interfaces, front end coding stuff and almost anything. But i love what i do.
    .resume__content
      .date
        p 2002
      h4 software engineering
      h5 harvard university
      p I currently work for Pixelwars creative studio. I create usable web interfaces, front end coding stuff and almost anything. But i love what i do.
  .resume__skills
    h3.resume__skills__title coding skills
    .skill-item.html
      p.skill-title html
      .skill
    .skill-item.css
      p.skill-title css
      .skill
    .skill-item.jquery
      p.skill-title jquery
      .skill
    .skill-item.wordpress
      p.skill-title wordpress
      .skill
    h3.resume__skills__title DESIGN SKILLS
    .skill-item.illustrador
      p.skill-title illustrador
      .skill
    .skill-item.fireworks
      p.skill-title fireworks
      .skill
    .skill-item.photoshop
      p.skill-title photoshop
      .skill
