$color-header: rgba($white,.4);
$lh: 3rem;
.main-header{
  width: $header-width;
  height: 100vh;
  background: $header-bg;
  display: flex;
  flex-direction: column;
  position: fixed;
  overflow-y: auto;
  z-index: 100090;
  top: 0;
  @include from($vp){
    left: 0;
  }
}
.top__title{
  position: fixed;
  z-index: 100;
  color: $white;
  h1{
    color: inherit;
  }
  @include to($vp){
    width: 100%;
    background: $black;
    left: 0;
    transition: $transition;
    display: flex;
    height: $lh;
    a{
      display: block;
      width: $lh*1.5;
      line-height: $lh;
      font-size: 1.5em;
      border-right: border(rgba($white,.2),1px);
      text-align: center;
      white-space: nowrap;

    }
    h1{

      font-size: 1.5em;
      line-height: $lh;
      text-align: left;
      padding-left: 1em;
    }
  }
  @include from($vp){
    position: fixed;
    left: 0;
    background: $green;
    height: $lh *.75;
    top: calc(#{$header-width} - 1em);
    a{
      bottom: 0;
      display: none;
    }
    h1{
      width: $header-width;
      font-size: 1em;
      text-align: center;
      line-height: $lh *.75;
      height: $lh *.75;
    }
  }
}
.active > .top__title{
  @include to($vp){
    width: calc(100% - #{$header-width});
    left: $header-width;
  }
}
.top{
  background: radial-gradient(
              #777 1%,
              #333
  );
  padding: .5em 0;
  img{
    display: block;

  }
}
.bottom{
  margin-top: auto;
  text-align: center;
  color: rgba($white, .2);
  font-size: .8em;
  span{
    margin-left: 3px;
  }
}
