.home{
  background: img('bg.jpg') center center / cover no-repeat;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;

  &::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba($header-bg,.75);
  }
  &__message {
    position: relative;
    z-index: 50;
    margin-bottom: 5em;
    color: $white;
  }
  &__span, &__pro{
    text-align: center;
    display: block;
    font-size: 1.3em;
    color: inherit;
  }
  &__name{
    text-align: center;
    font-size: 3em;
    margin: 0;
    line-height: 1;
    color: inherit;
  }
  &__pro{
    padding-top: 1em;

  }
}
