$bg-array: #C5D2D8,#EAE5D1,#B7BFC2,#FAD4C7,#C5E1E5,#DBDAE2,#E2D9DA,#D9D9D9,#E5E4C6;
.portfolio{
  background: #60D7A9;
  & > .container{
    @include edContainer;
    width: 80% !important;
    max-width: 1000px !important;
  }
  &__gallery {
    @include grid('.portfolio__item', 1, 2, 3, 3, 2.5em)
  }
  @for $i from 1 through 9{
    &__item:nth-child(#{$i}){
      background: nth($bg-array,$i);
    }
  }
  &__item{
    a{
      display: block;
      padding: 2em;
    }
  }
}
.item-footer{
  background: $white;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h3{
    text-align: center;
  }
}
