$size: 2.5rem;
$resume-bg: #EBF0DF;
$before-bg: #8ACB82;
$pl: 2.5em;
$color: $green;
body{
  background: $resume-bg;
}
.resume{
  &__container{
    @include edContainer;

  }
  &__work, &__project{
    @include edItem(100,100,50)
  }
  &__work{
    &-content{
      // border: border(green,1px);
      margin-bottom: 1em;
      h3{

      }
      span{
        display: inline-block;
        width: $size;
        height: $size;
        line-height: $size;
        background: $color;
        margin-right: $size/2;
        color: $white;
        text-align: center;
        border-radius: 50%;
      }
      p, ul{
        margin-left: $size+$size/2
      }
      ul{
        margin-top: 0;
        padding-left: .7em;
      }
    }

  }
  &__project{
    $shadow: darken($green,20);
    h3{
      position: relative;
      width: 80%;
      max-width: 250px;
      margin: 2em auto 1em;
      line-height: 1.8em;
      background: $green;
      color: $white;
      text-transform: uppercase;
      text-align: center;
      margin-bottom: 2em;
      &:first-of-type{
        margin: 0em auto 3em;
      }

      @include to(l){
        margin-top: 2em;
      }
      &::before, &::after{
        content: "";
        position: absolute;
        height: 100%;
        width: 1.5em;
        background: darken($green,10);
        z-index: -1;
        border: border(transparent,5px);
      }
      &::before{
        left: -1.3em;
        top: -15%;
        border-right-color: $shadow;
        border-radius: 3px 0 0 3px;
      }
      &::after{
        right: calc(-1.3em + 1px);
        top: 15%;
        border-left-color: $shadow;
        border-radius: 0 3px 3px 0;
      }
    }
    &-content{
      border: border($green,2px);
      // margin-top: 1em;
      margin-bottom: 3em;
      padding: 2em 1em 0em;
      background: rgba($white,.75);
      position: relative;
      cursor: pointer;
      //border-radius: .5em;
      //overflow: hidden;
      // transform: scale(.95);
      h4{
        margin-bottom: .5em;
        text-align: center;
        position: absolute;
        top: 0;
        transform: translateY(0) translateX(-50%);
        background: $green;
        width: 100%;
        line-height: 2em;
        left: 50%;
        color: $white;
        transition: $transition;
        @include to(365px){
          font-size: .8em;
          line-height: 2.55;
        }
        span{
          position: absolute;
          right: .5em;
          &::before{
            top:0;
          }
        }
      }
      .text{
        margin-bottom: .3em;
        display: flex;
        &:first-of-type{
          margin-top: .5em;
        }
        h6{
          flex: 0 0 100px;
          padding-top: 4px;
          line-height: 1;
          text-align: right;
          @include from(m){
            width: 80px;
          };

        }
        p{
          flex: auto;
          padding: 0;
          margin-left: .5em;
        }
      }
      h5{
        padding-left: 3px;
      }
      ul{
        margin-top: .5em;
      }
    }

  }
}
.content{
  display: none;
}

