$size: 2.5rem;
$resume-bg: #EBF0DF;
$before-bg: #8ACB82;
$pl: 2.5em;
$color: $green;
body{
  background: $resume-bg;
}
.resume{
  &__container{
    @include edContainer;

  }
  &__work, &__project{
    @include edItem(100,100,50)
  }
  &__work{
    &-content{
      // border: border(green,1px);
      margin-bottom: 1em;
      h3{

      }
      span{
        display: inline-block;
        width: $size;
        height: $size;
        line-height: $size;
        background: $color;
        margin-right: $size/2;
        color: $white;
        text-align: center;
        border-radius: 50%;
      }
      p, ul{
        margin-left: $size+$size/2
      }
      ul{
        margin-top: 0;
        padding-left: .7em;
      }
    }

  }
  &__project{
    $shadow: darken($green,20);
    h3{
      position: relative;
      width: 80%;
      max-width: 250px;
      margin: 0 auto 1.5em;
      line-height: 1.8em;
      background: $green;
      color: $white;
      text-transform: uppercase;
      text-align: center;
      margin-bottom: 2em;
      @include to(l){
        margin-top: 2em;
      }
      &::before, &::after{
        content: "";
        position: absolute;
        height: 100%;
        width: 1.5em;
        background: darken($green,10);
        z-index: -1;
        border: border(transparent,5px);
      }
      &::before{
        left: -1.3em;
        top: -15%;
        border-right-color: $shadow;
        border-radius: 3px 0 0 3px;
      }
      &::after{
        right: calc(-1.3em + 1px);
        top: 15%;
        border-left-color: $shadow;
        border-radius: 0 3px 3px 0;
      }
    }
    &-content{
      border: border($green,2px);
      // margin-top: 1em;
      margin-bottom: 3em;
      padding: 2em 1em 0em;
      background: rgba($white,.75);
      position: relative;
      // transform: scale(.95);
      h4{
        margin-bottom: .5em;
        text-align: center;
        color: darken($green,20);
        position: absolute;
        top: 0;
        transform: translateY(-50%) translateX(-50%);
        background: $green;
        left: 0;
        // display: table;
        width: 65%;
        line-height: 2em;
        left: 50%;
        color: $white;
        @include to(m){
          width: 95%;
          font-size: .9em;
        };
      }
      .text{
        // background: tomato;
        margin-bottom: .3em;
        display: flex;
        h6{
          // background: yellow;
          flex: 0 0 100px;
          padding-top: 4px;
          line-height: 1;
          text-align: right;
          // font-size: 1em;
          @include from(m){
            width: 80px;
          };
          // @include from(l){
          //   width: 20%;
          //   margin-right: .5em;
          // };
        }
        p{
          // width: 75%;
          flex: auto;
          padding: 0;
          margin-left: .5em;
        }
      }
      h5{
        padding-left: 3px;
      }
      ul{
        margin-top: .5em;
      }
    }

  }
}
#content{
  display: none;
}


//
//
// border: border(transparent,5px);
//
// border-right-color: darken($green,30);
// border-radius: 3px 0 0 3px;
//
//
// border-left-color: darken($green,30);
// border-radius: 0 3px 3px 0;












//
// .resume{
//   background: none;
//   padding-bottom: 3em;
//   position: relative;
//   &__container{
//     @include edContainer;
//     margin-top: 3em;
//   }
//   &__history, &__skills{
//     @include edItem(100,50);
//   }
//   &__history{
//     padding-left: $pl;
//     margin-top: 2em;
//     border-left: border($white,3px);
//     &:first-child{
//       margin-top: 0;
//     }
//   }
//   &__skills{
//     //background: lightgreen;
//     @include to(m){
//       margin-top: 2em;
//     }
//     @include from(l){
//       margin-top: -.5em;
//     }
//     &__title{
//       $heigth: 30px;
//       $top: -5px;
//       position: relative;
//       color: $white;
//       background: $color;
//       width: 75%;
//       max-width: 300px;
//       margin: 6em auto 3em;
//       height: $heigth;
//       line-height: $heigth;
//       font-size: 1em;
//       text-transform: uppercase;
//       text-align: center;
//       &:nth-of-type(1){
//         margin: 0 auto 3em;
//       }
//       //@include from(l){
//       //  transform: translateY(-50%);
//       //}
//       &::before, &::after{
//         content: '';
//         position: absolute;
//         display: block;
//         height: 100%;
//         width: $heigth*.75;
//         background: darken($color,10);
//         z-index: -1 !important;
//         border: border(transparent,5px);
//         @include from(l){
//           z-index: -1;
//         }
//       }

//       &::before{
//         left: calc((#{$heigth*.75} - 5px) * -1);
//         top: $top;
//         border-right-color: darken($green,30);
//         border-radius: 3px 0 0 3px;
//       }
//       &::after{
//         right: calc((#{$heigth*.75} - 5px) * -1);
//         bottom: $top;
//         border-left-color: darken($green,30);
//         border-radius: 0 3px 3px 0;
//       }
//     }
//   }
//   &__title{
//     position: relative;
//     margin-top: 2em;
//     &:nth-of-type(1){
//       margin-top: 0;
//     }
//     & > span, & > h3{
//       display: inline-block;
//     }
//     & > span{
//       position: absolute;
//       //left: -$pl;
//       left: -$size;
//       width: $size;
//       height: $size;
//       line-height: $size;
//       background: $color;
//       color: $white;
//       font-size: 1.5em;
//       text-align: center;
//       transform: translate(-35%,-25%);
//       border-radius: 50%;
//     }
//     & > h3{
//       text-transform: uppercase;
//     }
//
//   }
//   &__content{
//     margin-top: 2em;
//     h4{
//       font-size: 1em;
//       text-transform: uppercase;
//     }
//     h5{
//       color: rgba($gray,.45);
//       margin: .5em 0 1em;
//     }
//   }
// }
// .date{
//   position: relative;
//   margin-bottom: 1.5em;
//   p{
//     background: $color;
//     display: table;
//     text-transform: uppercase;
//     $height: 20px;
//     line-height: $height;
//     height: $height;
//     padding: 0 1em;
//     color: $white;
//     font-size: .9em;
//     &:before, &::after{
//       content: '';
//       position: absolute;
//     }
//     &:before{
//       $size-circle: 15px;
//       width: $size-circle;
//       height: $size-circle;
//       border-radius: 50%;
//       background: $white;
//       left: -$size;
//       top: 50%;
//       transform: translateY(-50%);
//     }
//     &::after{
//       left: -$height/2;
//       top: 0;
//       width: 0;
//       height: 0;
//       border: $height/2 solid $color;
//       border-left-color: transparent;
//     }
//   }
//   &.green{
//     p{
//       &::before{
//         background: $color !important;
//       }
//     }
//   }
// }
// .html{
//   @include skill(80,$white);
// }
// .css{
//   @include skill(100,$white);
// }
// .jquery{
//   @include skill(60,$white);
// }
// .wordpress{
//   @include skill(80,$white);
// }
// .illustrador{
//   @include skill(80,$white);
// }
// .fireworks{
//   @include skill(60,$white);
// }
// .photoshop{
//   @include skill(70,$white);
// }
//.skill-title{
//
//}
//.skill{
//}
